<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.name :name %><br>
    <%= form.text_field :name %>
    <% @article.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.login :login %><br>
    <%= form.text_field :login %>
    <% @article.errors.full_messages_for(:login).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.text_area :password %><br>
    <% @article.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>