<body>

    <div class="modal2">
        <%if @user%>
            <p>Имя пользователя: <%= @user.name %></p>
            <%if @user.id == session[:user_id]%>
                <p>Это ваш профиль!</p>
                <p style="margin-top:40px">Логин: <%= @user.login %></p>
                <p>Пароль: <%= @user.password %></p>
            
                <%= link_to "Редактировать профиль", edit_user_path(@user), data: { confirm: "Вы уверены?" }%>
                <div style="margin-top:10px"><%= link_to "Удалить профиль", user_path(@user), method: :delete, data: { confirm: "Вы уверены?" } %></div>
            <%end%>
        <%else%>
            <h1>Пользователь не найден</h1>
        <%end%>
    </div>

</body>