<body>

<%if @user%>
    <div class="base_form" style="margin-top: 5%">
        <p>Имя пользователя: <%= @user.name %></p>
        <%if @user.id == session[:user_id]%>
            <p>Это ваш профиль!</p>
            <br>
            <%= link_to "Редактировать профиль", edit_user_path(@user), data: { confirm: "Вы уверены?" }%>
            <div style="margin-top:10px"><%= link_to "Удалить профиль", user_path(@user), method: :delete, data: { confirm: "Вы уверены?" } %></div>
        <%end%>
    </div>
    
    <%if @user.id == session[:user_id] %>
        <div class="base_form" style="margin-top: 2%">
            <h2>Создать новый пост:</h2>
            <%= render "posts/form_post_create", user: @user %>
        </div>
    <% end %>

    <% if @user.posts.length %>
        <div class="base_form" style="margin-top: 2%">

            <h2>Опубликованные посты:</h2>
            <% @posts.each do |post| %>
                <% if post.id != nil %> <%= render "posts/form_post", post: post %> <% end %>
            <% end %>
            <div class = "center"> <%= paginate @posts %> </div>
        </div>
    <% end %>
<%else%>
    <h1 class="base_form">Пользователь не найден</h1>
<%end%>

</body>