<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oswald|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheets/application.css">
  </head>

  <body style="background: #fff4e8">
    <div class="header_back" ></div>
    <header class="header_style">
      <div>
        <%if User.find_by(id:session[:user_id])%>
          <a style="margin-left:0px;" href="/">Выход</a>
          <a style="margin-left:20px" href="/users/<%=session[:user_id]%>"> Вы вошли как: <%=User.find_by(id:session[:user_id]).name%><a>
        <%else%>
          <a style="margin-left:0px; position: fixed;  left: 10%; top: 5%;" href="/">Вход</a>
          <a style="margin-left:20px" >Вы вошли как: Гость</a>
        <%end%>
        <a style="margin-left:20px" href="/users/list">Список пользователей<a>
      </div>
    </header>
    

    <div class="rotate-shadows" style="position: fixed; top: 15%; left: 10%;"></div>
    <div class="rotate-shadows" style="position: fixed; top: 15%; left: 90%;"></div>


    <%= yield %>
  </body>
</html>
