<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <header>
      <div style="margin-top:40px">
        <b>
        <%if @user%>
          <a style="margin-left:0px" href="/users">Выход</a>
          <a style="margin-left:20px"><%= @user.name%><a>
        <%else%>
          <a style="margin-left:0px" href="/users">Вход</a>
          <a style="margin-left:20px" href="/users/999999999">Профиль</a>
        <%end%>
        <a style="margin-left:20px" href="/list">Список пользователей<a><b>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
